<footer id="mdb-footer" class="mt-5 footer" style="background-color: hsl(216, 25%, 95.1%, 40%); ">


    
    <div class="text-center p-3" style="color: #515151;">© 2023
        Copyright
         <strong>Steg</strong>
    </div>
    
</footer>